<!DOCTYPE html>
<html>
<head>
  <title>xcell.me</title>
  <%= stylesheet_link_tag 'screen.css', :media => 'screen, projection' %>
  <%= stylesheet_link_tag 'print.css', :media => 'print' %>
  <!--[if lt IE 8]><%= stylesheet_link_tag 'ie.css', :media => 'screen, projection' %><![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <div class="logo">
      <%= link_to "xcell.me", root_path %>
    </div>
    <div class="user_nav">
      <% if current_user %>
        <%= current_user.email %> |
        <%= link_to "Log out", logout_path %>
      <% else %>
        <%= link_to "Sign up", signup_path %> |
        <%= link_to "Log in", login_path %>
      <% end %>
    </div>
  </div>
  <div class="wrapper">
    <div class="sidebar">
      <div class="inner">
      </div>
    </div>
    <div class="content">
      <div class="inner">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
