<!DOCTYPE html>
<html>
<head>
  <title>Xcell</title>
  <%= stylesheet_link_tag 'screen.css', :media => 'screen, projection' %>
  <%= stylesheet_link_tag 'print.css', :media => 'print' %>
  <!--[if lt IE 8]><%= stylesheet_link_tag 'ie.css', :media => 'screen, projection' %><![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">
    <div id="sidebar">
      <div class="inner">
        sidebar
      </div>
    </div>
    <div id="content">
      <div class="inner">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
